<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "First Name" %>
    <%= form.text_field :FirstName, id: :patient_FirstName %>
  </div>

  <div class="field">
    <%= form.label "Last Name" %>
    <%= form.text_field :LastName, id: :patient_LastName %>
  </div>

  <div class="field">
    <%= form.label "Date of Birth" %>
    <%= form.text_field :DateOfBirth, id: :patient_DateOfBirth %>
  </div>

   <div class="field">
    <%= form.label "Assigned User" %>
    <%= form.text_field :user_id, id: :patient_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
